{% extends "::base.html.twig" %}

{% block title %}{{ image.title }} {{ parent() }}{% endblock %}
{% block description %}{{ image.seoDescription }}{% endblock %}
{% block keywords %}{% for keyword in image.seoKeywords %}{% if loop.index != 1 %}, {% endif %}{{ keyword }}{% endfor %}{% endblock %}
{% block head %}<meta property="og:image" content="{{ image.relativeWebPath | imagine_filter('photo_seule') }}" />{% endblock %}

{% block container %}
    <div class = "panel panel-default">
        <div class = "panel-heading">
            {{ image.title }}
        </div>
        <div class = "panel-body">
            <div class="row">
                <div class = "col-lg-12">
                    <a href="{{ image.relativeWebPath }}" target="_blank">
                        <img class="img-responsive img-rounded" src="{{ image.relativeWebPath | imagine_filter('photo_seule') }}" alt="{{ image.title }}"/>
                    </a>
                </div>
            </div>
            <br />
            <p>{{ image.comment }}</p>
            <br />

            <div class = "row">
                <div class = "col-lg-12">
                    <div class = "pull-left">
                        {% include 'SilentDailyPicsCoreBundle:Social:social.html.twig' with {image : image} %}
                    </div>
                </div>
            </div>

            <br />

            {% if previousImage != null %}
            <div class = "pull-left">
                <a href = "{{ path('silent_daily_pics_core_show', { slug: previousImage.slug} ) }}">
                    <img class="img-responsive img-thumbnail" src="{{ previousImage.relativeWebPath | imagine_filter('thumb') }}" alt="{{ previousImage.title }}" title="{{ previousImage.title }}" />
                </a>
                <a href = "{{ path('silent_daily_pics_core_show', { slug: previousImage.slug} ) }}" class = "btn  btn-default"><span class ="glyphicon glyphicon-chevron-left"></span> {{ previous_pics_string }}</a>
            </div>
            {% endif %}
            {% if nextImage != null %}
            <div class = "pull-right">
                <a href = "{{ path('silent_daily_pics_core_show', { slug: nextImage.slug} ) }}" class = "btn  btn-default">{{ next_pics_string }} <span class ="glyphicon glyphicon-chevron-right"></span> </a>
                <a href = "{{ path('silent_daily_pics_core_show', { slug: nextImage.slug} ) }}">
                    <img class="img-responsive img-thumbnail" src="{{ nextImage.relativeWebPath | imagine_filter('thumb') }}" alt="{{ nextImage.title }}" title="{{ nextImage.title }}" />
                </a>
            </div>
            {% endif %}

        </div>
    </div>

    <div class = "jumbotron text-center" id = "fb_comments_box">

    </div>

{% endblock %}

{% block javascripts %}
    {% include 'SilentDailyPicsCoreBundle:Social:socialJavaScript.html.twig' %}
    {% include 'SilentDailyPicsCoreBundle:Social:facebookComment.html.twig' %}
    <script>
        var divFbW = $('#fb_comments_box').width();
        $(window).bind("resize", function(){
            if (divFbW != $('#fb_comments_box').width()) {
                fbResponsive('{{ url('silent_daily_pics_core_show', {slug: image.slug}) }}', divFbW);
                divFbW = $('#fb_comments_box').width();
            }
        });
    </script>
{% endblock %}

{% block jqueryDR %}
    fbResponsive('{{ url('silent_daily_pics_core_show', {slug: image.slug}) }}', divFbW);
{% endblock %}