<div class = "panel panel-default">
    <div class = "panel-heading">
        <a href="{{ path('silent_daily_pics_core_show', {slug : image.slug}) }}">{{ image.title }}</a>
    </div>
    <div class = "panel-body">
        <div class = "row">
            <div class = "col-xs-12 col-sm-8 col-md-8 col-lg-9">
                <a href="{{ path('silent_daily_pics_core_show', {slug : image.slug}) }}">
                    <img class="img-responsive img-rounded" src="{{ image.relativeWebPath | imagine_filter('photo_liste') | replace({('http://' ~ app.request.host): "" }) }}" alt="{{ image.title }}" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <p>
                    {{ image.comment }}
                </p>
            </div>
        </div>
        <br />
        <div class ="row">
            <div class = "col-lg-12">
                <div class ="pull-left">
                    {% include 'SilentDailyPicsCoreBundle:Social:social.html.twig' with {image : image} %}
                </div>
                <div class = "pull-right">
                    <a class = "btn btn-default" href="{{ path('silent_daily_pics_core_show', {slug : image.slug}) }}" >
                        {{ comment_button_string }}
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>